.container {
    background-color: #ccd5ae;
    border-radius: 20px;
    margin-bottom: 40px;

}

header img {
    height: 1% !important;
    padding-top: 5px;
    border-radius: 20px;
}

header label {
    font-size: 40px;
}

header select {
    width: 10%;
    border-radius: 40px;
    background: none
}

section h1 {
    /* margin: 50px 20px; */
    text-align: center;
}

section #adv1 {
    width: 100%;
    background-color: #023e8a;
}

section #adv2 {
    width: 100%;
    background-color: #03045e;
}

section #reset {
    width: 100%;
}

@media (max-width: 750px) {
    .container {
        margin-top: 40px;
    }
}